version: "3.9"
services:

    mock-database:
        image: saheru/fbthrift-benchmark
        hostname: mock-database
        ports:
            - 10001:10001
        entrypoint: 
            ["/app/src/build/MockDatabase/MockDatabase", "1", "2"]
        volumes:
          - ./container_files:/app/src/build/stats_files:rw
        stop_signal: SIGINT

    sanitization-service:
        image: saheru/fbthrift-benchmark
        hostname: sanitization-service
        ports:
            - 10003:10003
        entrypoint: 
            ["/app/src/build/SanitizationService/SanitizationServiceServer", "1", "2"]
        depends_on:
            - mock-database
        volumes:
          - ./container_files:/app/src/build/stats_files:rw
        stop_signal: SIGINT

    message-service:
        image: saheru/fbthrift-benchmark
        hostname: message-service
        ports:
            - 10002:10002
        entrypoint: 
            ["/app/src/build/MessageService/MessageServiceServer", "1", "2"]
        depends_on:
            - mock-database
            - sanitization-service
        volumes:
          - ./container_files:/app/src/build/stats_files:rw
        stop_signal: SIGINT

    client:
        image: saheru/fbthrift-benchmark
        hostname: client
        # restart: always
        entrypoint: 
            ["/app/src/build/Client/client", "50"]
        depends_on:
            - message-service
        volumes:
          - ./container_files:/app/src/build/stats_files:rw
        stop_signal: SIGINT
          


    # mock-client:
    #     image: saheru/fbthrift-benchmark
    #     hostname: mock-client
    #     restart: always
    #     command: ["./src/build/MockDatabase/MockDatabaseClient", "100"]

    #     depends_on:
    #         - mock-database
    #         # - mock-database-middle

    # sanitization-service-client:
    #     image: saheru/fbthrift-benchmark
    #     hostname: client-1
    #     # restart: always
    #     command: ["./src/build/SanitizationService/SanitizationServiceClient"]
    #     depends_on:
    #         - sanitization-service


    # mock-database-middle:
    #     image: saheru/fbthrift-benchmark
    #     hostname: mock-database-middle
    #     ports:
    #         - 10011:10011
    #     command: ["./src/build/MockDatabase/MockDatabaseMiddle"]
    #     depends_on:
    #         - mock-database
